header {
    width: 100%;
    background: rgba(200, 200, 200, 0.4) !important;
}

.social-icons {
    text-align: right;
}

.social-icons a i.fa {
    display: inline;
    margin: 5px;
    font-size: 30pt;
    color: black;
}

.navbar {
    background-color: silver !important;
    width: 100%;
    border: 1px solid;
}

.navbar a {
    color: black !important;
    font-size: 1.6em !important;
}

.navbar-btn {
    box-align: right;
}

footer {
    background: rgba(200, 200, 200, 0.6) !important;
}

.footer-top {
    width: 100%;
}

.footer-lower {
    width: 100%;
}

.footer-lower hr {
    margin: 1rem 0;
    border-color: black;
    opacity: 0.5;
}

hr {
    height: 0;
    overflow: visible;
    border-top: 1px solid;
}

.text {
    margin-bottom: 0px;
    text-align: right;
}

.slika {
    float: left;
    display: inline;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-backward {
    color: black;
}

.dash {
    padding: 40px 0px;
    border: 1px solid #ccc;
    background: rgba(200, 200, 200, 0.2);
    text-decoration: none;
    color: black;
}

.dash:hover {
    border: 1px solid #000;
    background: rgba(200, 200, 200, 0.6)
}

.dupe {
    border: 1px solid #ccc;
}